<style>
	.change_pw .itemWrap {
		width: 80%;
		margin: 0 auto;
		padding-top: 5%;
	}
	
	.change_pw .item {
		margin-bottom: 25px;
	}
	
	.change_pw .item label {
		font-size: 16px;
		width: 30%;
		display: inline-block;
		text-align: right;
	}
	
	.change_pw .item input {
		font-size: 16px;
		width: 40%;
		display: inline-block;
		border: 1px solid #ccc;
		height: 35px;
		border-radius: 4px;
	}
	.change_pw .item:last-child{
		text-align: center;
	}
	.change_pw .item button {
		padding: 8px 15px;
		background-color: #169BD5;
		color: white;
		border-radius: 4px;
	}
</style>
<div class="sh_home change_pw" id="dataCon">
	<div class="itemWrap">
		<div class="item">
			<label for="">旧密码 :</label>
			<input type="password" id="_cp_passwordold" autocomplete="off"/>
		</div>
		<div class="item">
			<label for="">新密码 :</label>
			<input type="password"  id="_cp_password2" autocomplete="off"/>
		</div>
		<div class="item">
			<label for="">确认密码 :</label>
			<input type="password"  id="_cp_passwordsure" autocomplete="off"/>
		</div>
		<div class="item" id="change_pwBtn" style="cursor: pointer;">
			<button style="cursor: pointer;">提交</button>
		</div>
	</div>
</div>