<style>
	.detailsSet table {
		border-collapse: collapse;
	}
	
	.detailsSet table tr {
		text-align: center;
	}
	
	.detailsSet table tr td {
		padding: 5px;
	}
	
	#dataCon_mc .viewC_con {
		height: 400px !important;
		overflow: auto !important;
		width: 100%;
		box-sizing: border-box;
		padding: 10px 0px;
		clear: both;
		transition: all 0.3s ease 0s;
	}
	
	#dataCon_mc .recording {
		position: absolute;
		top: 28%;
		display: inline-block;
		padding: 6px 12px;
		background-color: rgb(255, 127, 91);
		color: rgb(255, 255, 255);
		width: auto;
		font-size: 13px;
		margin-right: 8px;
		border-radius: 2px;
		vertical-align: top;
		cursor: pointer;
		user-select: none;
		margin-top: 7px;
	}
	/*模态框*/
	
	#dataCon_mc .modal {
		display: none;
		/* 默认隐藏 */
		position: fixed;
		/* 根据浏览器定位 */
		z-index: 999;
		/* 放在顶部 */
		left: 0;
		top: 0;
		width: 100%;
		/* 全宽 */
		height: 100%;
		/* 全高 */
		overflow: auto;
		/* 允许滚动 */
		background-color: rgba(0, 0, 0, 0.4);
		/* 背景色 */
	}
	/*模态框内容*/
	
	#dataCon_mc .modal-content {
		border-radius: 5px;
		display: flex;
		/*采用flexbox布局*/
		flex-direction: column;
		/*垂直排列*/
		position: relative;
		background-color: #fefefe;
		margin: 7% auto;
		/*距顶部15% 水平居中*/
		padding: 20px;
		border: 1px solid #888;
		width: 768px;
		/*自定义动画，从模态框内容上到下出现*/
	}
	
	#dataCon_mc .modal-content_1 {
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		position: relative;
		background-color: #fefefe;
		margin: 0 auto;
		margin-top: 6%;
		margin-left: 16%;
		padding: 20px;
		border: 1px solid #888;
		width: 83%;
		margin-right: 1%;
	}
	
	@keyframes topDown {
		from {
			top: -300px;
			opacity: 0
		}
		to {
			top: 0;
			opacity: 1
		}
	}
	/*模态框头部*/
	
	#dataCon_mc .modal-header {
		display: flex;
		/*采用flexbox布局*/
		flex-direction: row;
		/*水平布局*/
		align-items: center;
		/*内容垂直居中*/
		justify-content: space-between;
	}
	/*关闭X 样式*/
	
	#dataCon_mc .close {
		color: #aaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}
	
	#dataCon_mc .close:hover {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}
	
	#dataCon_mc .content_box .title {
		display: inline-block;
	}
	
	#dataCon_mc .content_box .content {
		display: inline-block;
		vertical-align: top;
		width: 59%;
		min-height: 30px;
		padding-right: 50px;
		/*overflow: hidden;*/
	}
	
	#dataCon_mc .verify {
		position: relative;
		left: 86px;
		height: 28px;
		line-height: 24px;
		display: inline-block;
		padding: 0px 13px;
		border: 1px solid rgb(48, 137, 220);
		background-color: rgb(48, 137, 220);
		color: rgb(255, 255, 255);
		width: auto;
		font-size: 13px;
		border-radius: 2px;
		vertical-align: top;
		cursor: pointer;
		user-select: none;
		margin-top: 6px;
	}
	
	#dataCon_mc .content_box {
		width: 100%;
		margin-bottom: 10px;
	}
	
	#dataCon_mc .content_box .title {
		display: inline-block;
		vertical-align: top;
		width: 40%;
		height: 100%;
		text-align: right;
		padding-right: 20px;
		padding-left: 10px;
		font-size: 14px;
	}
	
	#dataCon_mc .content_box .content>input {
		width: 100%;
		height: 30px;
		border-bottom: 1px solid rgb(204, 204, 204);
		font-size: 14px;
		margin-top: 6px;
	}
	
	#dataCon_mc .content_box .content select {
		width: 80%;
		height: 30px;
		line-height: 30px;
		padding: 0px 10px;
		border: 1px solid rgb(222, 228, 241);
		background-color: rgb(244, 248, 250);
		color: rgb(117, 117, 117);
		font-size: 13px;
		border-radius: 3px;
		user-select: none;
		cursor: pointer;
		position: relative;
		box-shadow: none;
	}
	
	#dataCon_mc .content_box textarea {
		padding: 8px;
		font-size: 14px;
		color: rgb(117, 117, 117);
	}
	
	#dataCon_mc .model_title {
		cursor: move;
		height: 35px;
		width: 100%;
		font-size: 17px;
		border-bottom: 1px solid rgb(229, 229, 229);
		position: relative;
		line-height: 15px;
		text-align: center;
		color: rgb(51, 51, 51);
	}
	
	#dataCon_mc #myModal .modal-body {
		margin: 15px 0;
		overflow-y: auto;
	}
	
	#dataCon_mc .bottom {
		width: 100%;
		height: 38px;
		font-size: 18px;
		box-sizing: border-box;
		bottom: 0px;
		border-top: 1px solid rgb(229, 229, 229);
		left: 0%;
		line-height: 54px;
		text-align: center;
	}
	
	#dataCon_mc .bottom_btn {
		color: rgb(255, 255, 255);
		background-color: rgb(48, 137, 220);
		font-size: 13px;
		padding: 4px 14px;
		border-radius: 2px;
		margin-right: 15px;
		cursor: pointer;
	}
	
	#dataCon_mc .ly_tabTitle {
		height: 40px;
		background-color: rgb(255, 255, 255);
		border-bottom: none;
		box-shadow: rgb(204, 204, 204) 0px 0.5px 2px;
		position: relative;
		z-index: -1 !important;
		padding-left: 80px;
	}
	
	#dataCon_mc .excel_upload {
		height: 40px;
		line-height: 32px;
		font-size: 15px;
		display: block;
		width: 100%;
		text-align: left;
		margin-left: -4px;
	}
	
	#dataCon_mc .gain {
		position: absolute;
		top: 28%;
		margin-left: 100px;
		display: inline-block;
		padding: 6px 12px;
		background-color: rgb(255, 127, 91);
		color: rgb(255, 255, 255);
		width: auto;
		font-size: 13px;
		margin-right: 8px;
		border-radius: 2px;
		vertical-align: top;
		cursor: pointer;
		user-select: none;
		margin-top: 7px;
	}
	
	#dataCon_mc .remark {
		width: 80%;
		height: 100px;
	}
	
	.fileB {
		border: 1px solid #797979;
		padding: 5px 20px;
		font-size: 14px;
		border-radius: 5px;
		margin-right: 20px;
		display: inline-block;
	}
	
	.modal-body {
		padding-top: 10px;
	}
	
	#dataCon_mc .content_box .content .modal_redios_checkd {
		float: left;
		margin-right: 20px;
		font-size: 14px;
		line-height: 14px;
	}
	
	#dataCon_mc .content_box .content .modal_redios_checkd input {
		-webkit-appearance: radio;
		height: 14px;
		width: 14px;
		margin-right: 2px;
	}
	/*详情弹窗*/
	
	.model-input>span {
		display: inline-block;
		flex: 1;
		height: 30px;
		line-height: 20px;
		margin: 5px 20px;
		border: 1px solid #ccc;
	}
	
	.model-cursor input {
		cursor: pointer;
	}
	
	.model-input>span input {
		width: 100%;
		height: 100%;
		border: none;
		padding: 5px;
	}
	
	.model-input span select {
		width: 100%;
		height: 100%;
		color: rgb(117, 117, 117);
		font-size: 13px;
		user-select: none;
		cursor: pointer;
		position: relative;
		border: none;
		outline: none;
		font-weight: 600;
		appearance: menulist;
		-moz-appearance: menulist;
		-webkit-appearance: menulist;
	}
	
	#dataCon .myModaldetails .modal-content {
		width: 1000px;
	}
	/*详情弹窗*/
	
	#dataCon .myModaldetails .modal-content {
		width: 1000px;
	}
	
	.myModaldetails .modal-body .detailsTab {
		overflow: hidden;
	}
	
	.myModaldetails .modal-body .detailsTab p {
		float: left;
		padding: 5px 10px;
		font-size: 14px;
		border: 1px solid #cccccc;
		margin: 5px 3px;
		cursor: pointer;
		font-size: 14px;
	}
	
	.myModaldetails .modal-body .detailsTab p:nth-child(1) {
		margin-left: 0;
	}
	
	.myModaldetails .detailsCard {
		width: 100%;
		display: flex;
	}
	
	.myModaldetails .detailsCard>div {
		flex: 1;
	}
	
	.myModaldetails .detailsCard>div ul {
		width: 100%;
	}
	
	.myModaldetails .detailsCard>div ul li {
		width: 100%;
		display: flex;
		border-top: 1px solid #000;
		border-left: 1px solid #000;
		border-right: 1px solid #000;
		height: 30px;
		line-height: 30px;
	}
	
	.myModaldetails .detailsCard>div ul li:last-child {
		border-bottom: 1px solid #000;
	}
	
	.myModaldetails .detailsCard>div ul li .cardTitle {
		flex: 1.5;
		text-align: center;
		border-right: 1px solid #000;
	}
	
	.myModaldetails .detailsCard>div ul li .cardlist {
		flex: 3;
		text-align: center;
	}
	
	.detailsCard_left {
		margin-right: 5px;
	}
	
	.detailsCard_right {
		margin-left: 5px;
	}
	
	.myModalsearch .model-input {
		display: flex;
	}
	
	.detailsTab .active {
		display: inline-block;
		padding: 6px 12px;
		background-color: rgb(30, 159, 255);
		color: rgb(255, 255, 255);
		width: auto;
		font-size: 13px;
		margin-right: 8px;
		border-radius: 2px;
		vertical-align: top;
		cursor: pointer;
		user-select: none;
		margin-top: 7px;
	}
</style>
<div class="sh_home" id="dataCon_mc">

	<div id="myModaldaoru" class="modal">
		<div class="modal-content">
			<div class="modal-header">
				<div class="model_title">卡导入</h2>
					<span id="daoruClose" class="close">×</span>
				</div>
			</div>
			<div class="modal-body">
				<form id="daoruForm" enctype="multipart/form-data">
					<div class="content_box">
						<div class="title">*供应商:</div>
						<div class="content">
							<select id="supplierUuid" name="supplierUuid">
							</select>
						</div>
					</div>
					<div class="content_box">
						<div class="title">*业务类型:</div>
						<div class="content">
							<select id="businessType" name="businessType">
								<option value="">请选择业务类型</option>
								<option value="1">语音卡</option>
								<option value="2">流量卡</option>
							</select>
						</div>
					</div>
					<div class="content_box">
						<div class="title">*卡片类型:</div>
						<div class="content">
							<select id="cardType" name="cardType">
								<option value="">请选择卡片类型</option>
								<option value="1">MP0</option>
								<option value="2">MP1</option>
								<option value="3">MP2</option>
								<option value="4">MS0</option>
								<option value="5">MS1</option>
								<option value="6">MS2</option>
							</select>
						</div>
					</div>
					<div class="content_box">
						<div class="title">*卡片尺寸:</div>
						<div class="content">
							<select id="cardSize" name="cardSize">
								<option value="">请选择卡片尺寸</option>
								<option value="1">标准大卡</option>
								<option value="2">二切卡</option>
								<option value="3">三切卡</option>
								<option value="4">5.0*6.0mm</option>
							</select>
						</div>
					</div>
					<div class="content_box" id="hbFile">
						<div class="title" for="file">选择文件:</div>
						<div class="content">
							<label class="fileB" for="file" id="huaboChoose" style="position: relative;">
							<input id="daoruFile" name="uploadExcelFile" type="file" style="position: absolute;width: 100%;left:0;top: 0;bottom: 0;opacity: 0;">
							<span id="daoruText">选择</span> 	
						</label>
							<a href="/html/template/importIccidExcel.xlsx" style="text-decoration: underline; font-size: 14px;" id="xufeiUpload">下载模板</a>
						</div>
					</div>
					<div class="content_box">
						<div class="title">备注:</div>
						<div class="content">
							<textarea id="huaboRemark" name="remark" class="remark" wrap="virtual"></textarea>
						</div>
					</div>

				</form>
			</div>
			<div class="modal-footer bottom">
				<span class="bottom_btn" id="daoruSave">确定</span>
				<span class="bottom_btn" id="daoruCancel">取消</span>
			</div>
		</div>
	</div>

	<!-- 划拨模态框 -->
	<div id="myModalhuabo" class="modal">
		<div class="modal-content">
			<div class="modal-header">
				<div class="model_title">划拨</h2>
					<span id="huaboClose" class="close">×</span>
				</div>
			</div>
			<div class="modal-body">
				<div class="content_box">
					<div class="title">数量:</div>
					<div class="content">
						<span id="huaboNum1" style="color:red;">0</span>
					</div>
				</div>
				<div class="content_box">
					<div class="title">*客户:</div>
					<div class="content">
						<div class="selectWrap" id="selectWrap" style="width:80%"></div>
					</div>
				</div>
				<div class="content_box" id="hbFile1">
					<div class="title" for="file">选择文件:</div>
					<div class="content">
						<form id="huaboForm" enctype="multipart/form-data" style="display: inline-block;">
							<label class="fileB" for="file" id="huaboChoose" style="position: relative;">
							<input id="huaboFile" name="uploadExcelFile" type="file" style="position: absolute;left:0;top: 0;width: 100%;bottom: 0;opacity: 0;">
							<span id="huaboText">选择</span> 	
						</label>
						</form>
						<a href="/html/template/importIccidExcel.xlsx" style="text-decoration: underline; font-size: 14px;" id="xufeiUpload">下载模板</a>
					</div>
				</div>
				<div class="content_box">
					<div class="title">*激活类型:</div>
					<div class="content">
						<select id="huaboActive" type="text">
							<option value="">请选择激活类型</option>
							<option value="1">手动激活</option>
							<option value="2">自动激活</option>
						</select>
					</div>
				</div>
				<div class="content_box">
					<div class="title">是否进行imei池绑定</div>
					<div class="content">
						<select id="_m2mC_imeiBind" type="text" name="imeiBind">
							<option value="">请选择是否进行imei池绑定</option>
							<option value="1">是</option>
							<option value="2">否</option>
						</select>
					</div>
				</div>

				<div class="content_box">
					<div class="title">是否实名</div>
					<div class="content">
						<select id="isCertification" type="text" name="isCertification">
							<option value="">是否实名</option>
							<option value="0">无需实名</option>
							<option value="1">已实名</option>
							<option value="2">未实名</option>
						</select>
					</div>
				</div>
				<div class="content_box">
					<div class="title">计费方式</div>
					<div class="content">
						<select id="payType" type="text" name="payType">
							<option value="">计费方式</option>
							<option value="1">预付费</option>
							<option value="2">后付费</option>
						</select>
					</div>
				</div>
				<div class="content_box">
					<div class="title">备注:</div>
					<div class="content">
						<textarea id="huaboRemark1" class="remark" wrap="virtual"></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer bottom">
				<span class="bottom_btn" id="huaboSave">确定</span>
				<span class="bottom_btn" id="huaboCancel">取消</span>
			</div>
		</div>

	</div>

	<!-- 订购套餐-->
	<div id="myModalxufei" class="modal">
		<div class="modal-content">
			<div class="modal-header">
				<div class="model_title">订购套餐</h2>
					<span id="xufeiClose" class="close">×</span>
				</div>
			</div>
			<div class="modal-body">
				<div class="content_box">
					<div class="title">数量:</div>
					<div class="content">
						<span id="xufeiNum1" style="color:red;">0</span>
					</div>
				</div>
				<div class="content_box" id="xfFile">
					<div class="title" for="file">选择文件:</div>
					<div class="content">
						<form id="xufeiForm" enctype="multipart/form-data" style="display: inline-block;">
							<label class="fileB" for="file" id="xufeiChoose" style="position: relative;">
								<input id="xufeiFile" name="uploadExcelFile" type="file" style="position: absolute;left:0;top: 0;width: 100%;bottom: 0;opacity: 0;">
								<span id="xufeiText">选择</span> 	
							</label>
						</form>
						<a href="/html/template/importIccidExcel.xlsx" style="text-decoration: underline; font-size: 14px;" id="xufeiUpload">下载模板</a>
						<!--<a style="text-decoration: underline;cursor:pointer" href="/html/template/importIccidExcel.xlsx">下载模板</a>-->
					</div>
				</div>
				<div id="redioAll">
					<div class="content_box">
						<div class="title">*业务类型:</div>
						<div class="content modal_redios">
							<div class="modal_redios_checkd">
								<label>
								<input id="business1" checked class="business" type="radio" value="1" name="businessType">流量
							</label>
							</div>
							<div class="modal_redios_checkd">
								<label>
								<input id="business2" class="business" type="radio" value="2" name="businessType">语音
							</label>
							</div>

						</div>
					</div>
					<div class="content_box">
						<div class="title">*套餐类型:</div>
						<div class="content modal_redios">
							<div class="modal_redios_checkd">
								<label>
								<input id="bagSuppliersType1" checked type="radio" value="1" name="bagSuppliersType">主套餐
							</label>
							</div>
							<div class="modal_redios_checkd">
								<label>
								<input id="bagSuppliersType2" type="radio" value="2" name="bagSuppliersType">叠加包
							</label>
							</div>
						</div>
					</div>
					<div class="content_box" id="contract">
						<div class="title">*包体类型:</div>
						<div class="content modal_redios">
							<div class="modal_redios_checkd">
								<label>
								<input id="contract1" checked type="radio" value="0" name="flowType">月包
							</label>
							</div>
							<div class="modal_redios_checkd">
								<label>
								<input type="radio" value="1" name="flowType">季包
							</label>
							</div>
							<div class="modal_redios_checkd">
								<label>
								<input type="radio" value="2" name="flowType">半年包
							</label>
							</div>
							<div class="modal_redios_checkd">
								<label>
								<input type="radio" value="3" name="flowType">年包
							</label>
							</div>
						</div>
					</div>
					<div class="content_box">
						<div class="title">*套餐:</div>
						<div class="content">
							<div class="selectWrap" id="selectWrap" style="width:80%"></div>
						</div>
					</div>
					<div class="content_box">
						<div class="title">*数量:</div>
						<div class="content">
							<select id="xufeiNum" type="text" name="selectNum">
								<option value="">请选择激活类型</option>
								<option value="1">手动激活</option>
								<option value="2">自动激活</option>
							</select>
						</div>
					</div>
					<div class="content_box">
						<div class="title">总金额:</div>
						<div class="content">
							<span id="xufeuPrice" style="color:red;">0.00</span>
						</div>
					</div>
				</div>
				<div class="content_box">
					<div class="title">*生效方式:</div>
					<div class="content modal_redios">
						<div class="modal_redios_checkd">
							<label>
								<input id="effect1" type="radio" value="1" name="effect">当月生效
							</label>
						</div>
						<div class="modal_redios_checkd">
							<label>
								<input id="effect2" type="radio" value="2" name="effect">次月生效
							</label>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer bottom">
				<span class="bottom_btn" id="xufeiSave">确定</span>
				<span class="bottom_btn" id="xufeiCancel">取消</span>
			</div>
		</div>

	</div>

	<!--高级查询-->
	<div id="myModalsearch" class="modal myModalsearch">
		<div class="modal-content">
			<div class="modal-header">
				<div class="model_title">高级查询</h2>
					<span class="close">×</span>
				</div>
			</div>
			<div class="modal-body">
				<div class="model-input">
					<span>
						<input id="minIccid" name="minIccid" type="text" placeholder="最小ICCID"/>
					</span>
					<span>
						<input id="maxIccid" name="maxIccid" type="text" placeholder="最大ICCID"/>
					</span>
				</div>
				<div class="model-input">
					<span>
						<input id="minMsisdn" name="minMsisdn"  type="text" placeholder="最小MSISDN"/>
					</span>
					<span>
						<input id="maxMsisdn" name="maxMsisdn" type="text" placeholder="最大MSISDN"/>
					</span>
				</div>
				<div class="model-input">
					<span class="selectWrap" id="selectWrap" style="padding:0;border:none"></span>
					<span>
						<select id="operator" name="operator">
							<option value="">运营商</option>
							<option value="1">中国移动</option>
							<option value="2">中国联通</option>
							<option value="3">中国电信</option>
						</select>
					</span>
				</div>
				<div class="model-input">
					<span>
						<select id="simStatus" name="simStatus">
							<option value="">卡片状态</option>
							<option value="1">可激活</option>
							<option value="2">已激活</option>
							<option value="3">停用</option>
							<option value="4">失效</option>
						</select>
					</span>
					<span>
						<select id="cardType" name="cardType">
							<option value="">卡片类型</option>
							<option value="1">MP1</option>
							<option value="2">MP2</option>
							<option value="3">MP3</option>
							<option value="4">MP4</option>
							<option value="5">MP5</option>
							<option value="6">MP6</option>
						</select>
					</span>
				</div>
				<div class="model-input">
					<span>
						<input id="remark" name="remark" type="text" placeholder="备注关键词"/>
					</span>
					<span>
						<input id="imei" name="imei" type="text" placeholder="IMEI号码"/>
					</span>
				</div>
				<div class="model-input">
					<span>
						<input id="minImsi" name="minImsi" type="text" placeholder="最小IMSI"/>
					</span>
					<span>
						<input id="maxImsi" name="maxImsi" type="text" placeholder="最大IMSI"/>
					</span>
				</div>
				<div class="model-input model-cursor">
					<span>
						<input id="createTimeStart" name="createTimeStart" type="text" readonly="true" placeholder="发卡开始时间"/>
					</span>
					<span>
						<input id="createTimeEnd" name="createTimeEnd" type="text" readonly="true" placeholder="发卡结束时间"/>
					</span>
				</div>
				<div class="model-input model-cursor">
					<span>
						<input id="activateTimeStart" name="activateTimeStart" type="text" readonly="true" placeholder="激活开始时间"/>
					</span>
					<span>
						<input id="activateTimeEnd" name="activateTimeEnd" type="text" readonly="true" placeholder="激活结束时间"/>
					</span>
				</div>
				<div class="model-input model-cursor">
					<span>
						<input id="stopTimeStart" name="stopTimeStart" type="text" readonly="true" placeholder="到期开始时间"/>
					</span>
					<span>
						<input id="stopTimeEnd" name="stopTimeEnd" type="text" readonly="true" placeholder="到期结束时间"/>
					</span>
				</div>
				
				<div class="model-input">
					<span>
						<select id="shareType" name="shareType">
							<option value="">共享类型</option>
							<option value="2">共享卡</option>
							<option value="1">独享卡</option>
						</select>
					</span>
					<span style="opacity: 0;">
						<select id="shareType1" name="shareType1">
							<option value="">共享类型</option>
							<option value="2">共享卡</option>
							<option value="1">独享卡</option>
						</select>
					</span>
				</div>

			</div>
			<div class="modal-footer bottom">
				<span class="bottom_btn empty">清空</span>
				<span class="bottom_btn" id="searchSave">查询</span>
				<span class="bottom_btn cancel">取消</span>
			</div>
		</div>
	</div>

	<!--修改备注-->
	<div id="myModalremark" class="modal myModalstate">
		<div class="modal-content">
			<div class="modal-header">
				<div class="model_title">修改备注</h2>
					<span class="close">×</span>
				</div>
			</div>
			<div class="modal-body">
				<div class="content_box">
					<div class="title">选中的SIM卡:</div>
					<div class="content">
						<textarea id="stateSim1" class="remark" wrap="virtual" style="height: 100px;margin-bottom: 10px;"></textarea>
					</div>
				</div>
				<div class="content_box">
					<div class="title">卡片数量:</div>
					<div class="content">
						<span id="stateNum1" style="color:red;">0</span>
					</div>
				</div>

				<div class="content_box">
					<div class="title">备注:</div>
					<div class="content">
						<textarea id="remarkChange" class="remark" wrap="virtual" style="height: 100px;margin-bottom: 10px;"></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer bottom">
				<span class="bottom_btn" id="remarkSave">确定</span>
				<span class="bottom_btn cancel">取消</span>
			</div>
		</div>
	</div>

	<!--状态变更-->
	<div id="myModalstate" class="modal myModalstate">
		<div class="modal-content">
			<div class="modal-header">
				<div class="model_title">状态变更</h2>
					<span class="close">×</span>
				</div>
			</div>
			<div class="modal-body">
				<div class="content_box">
					<div class="title">SIM卡:</div>
					<div class="content">
						<textarea id="stateSim" class="remark" wrap="virtual" style="height: 100px;margin-bottom: 10px;"></textarea>
					</div>
				</div>
				<div class="content_box">
					<div class="title">数量:</div>
					<div class="content">
						<span id="stateNum" style="color:red;">0</span>
					</div>
				</div>

				<div class="content_box">
					<div class="title">*选择更改状态:</div>
					<div class="content">
						<select id="stateSelect">
							<option value="1">可激活</option>
							<option value="2">已激活</option>
							<option value="3">停用</option>
							<option value="4">失效</option>
						</select>
					</div>
				</div>
			</div>
			<div class="modal-footer bottom">
				<span class="bottom_btn" id="stateSave">确定</span>
				<span class="bottom_btn cancel">取消</span>
			</div>
		</div>
	</div>

	<!--详情-->
	<div id="myModaldetails" class="modal myModaldetails">
		<div class="modal-content">
			<div class="modal-header">
				<div class="model_title">查看信息</h2>
					<span class="close">×</span>
				</div>
			</div>
			<div class="modal-body">
				<div class="detailsTab">
					<p id="detailsCard" class="active">卡片详情</p>
					<p id="detailsSet">套餐详情</p>
				</div>
				<div class="detailsCard">
					<div class="detailsCard_left">
						<ul>
							<li>
								<p class="cardTitle">ICCID</p>
								<p class="cardlist" name="iccid">-</p>
							</li>
							<li>
								<p class="cardTitle">运营商</p>
								<p class="cardlist" name="operator">-</p>
							</li>
							<li>
								<p class="cardTitle">发卡时间</p>
								<p class="cardlist" name="createTime">-</p>
							</li>
							<li>
								<p class="cardTitle">到期时间</p>
								<p class="cardlist" name="stopTime">-</p>
							</li>
							<li>
								<p class="cardTitle">IMSI</p>
								<p class="cardlist" name="imsi">-</p>
							</li>
							<li>
								<p class="cardTitle">卡片类型</p>
								<p class="cardlist" name="cardType">-</p>
							</li>
							<li>
								<p class="cardTitle">本月可用量(M)</p>
								<p class="cardlist" name="voiceMonthResidual">-</p>
							</li>
							<li>
								<p class="cardTitle">短信可用量（条）</p>
								<p class="cardlist" name="smsMonthResidual">-</p>
							</li>
							<li>
								<p class="cardTitle">网速限制</p>
								<p class="cardlist" name="overageLimit">-</p>
							</li>
							<li>
								<p class="cardTitle">备注</p>
								<p class="cardlist" name="remark">-</p>
							</li>
						</ul>
					</div>
					<div class="detailsCard_right">
						<ul>
							<li>
								<p class="cardTitle">MSISDN</p>
								<p class="cardlist" name="msisdn">-</p>
							</li>
							<li>
								<p class="cardTitle">客户</p>
								<p class="cardlist" name="customerName">-</p>
							</li>
							<li>
								<p class="cardTitle">激活时间</p>
								<p class="cardlist" name="activateTime">-</p>
							</li>
							<li>
								<p class="cardTitle">卡片状态</p>
								<p class="cardlist" name="simStatus">-</p>
							</li>
							<li>
								<p class="cardTitle">IMEI</p>
								<p class="cardlist" name="imei">-</p>
							</li>
							<li>
								<p class="cardTitle">卡片尺寸</p>
								<p class="cardlist" name="cardSize">-</p>
							</li>
							<li>
								<p class="cardTitle">本月已用量(M)</p>
								<p class="cardlist" name="voiceMonthUsed">-</p>
							</li>
							<li>
								<p class="cardTitle">短信已用量(M)</p>
								<p class="cardlist" name="smsMonthUsed">-</p>
							</li>
							<li>
								<p class="cardTitle">实名认证</p>
								<p class="cardlist" name="isCertification">-</p>
							</li>
							<li>
								<p class="cardTitle">共享类型</p>
								<p class="cardlist" name="shareType">-</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="detailsSet" id="detailsSetWrap" style="display:none;overflow-y: auto;min-height:300px"></div>
			</div>
			<div class="modal-footer bottom">
				<span class="bottom_btn cancel">关闭</span>
				<span class="bottom_btn last" id="lastItem">上个</span> 
				<span class="bottom_btn next" id="nextItem">下个</span>
			</div>
		</div>
	</div>

</div>