<style>
	.personal_info .items {
		margin-bottom: 15px;
	}
	
	.personal_info .items .item {
		width: 49%;
		display: inline-block;
	}
	
	.personal_info .items .item label {
		width: 40%;
		display: inline-block;
		text-align: right;
		font-size: 16px;
	}
	
	.personal_info .items .item div {
		width: 59%;
		display: inline-block;
		font-size: 16px;
	}
	
	.personal_info .items:first-child {
		margin-top: 20px;
	}
</style>
<div class="sh_home personal_info" id="dataCon">
	<div class="items">
		<div class="item">
			<label for="">用户名称 :</label>
			<div>test</div>
		</div>
		<div class="item">
			<label for="">登陆ID :</label>
			<div>test</div>
		</div>
	</div>

	<div class="items">
		<div class="item">
			<label for="">用户类型 :</label>
			<div>test</div>
		</div>
		<div class="item">
			<label for="">创建时间 :</label>
			<div>test</div>
		</div>
	</div>

	<div class="items">
		<div class="item">
			<label for="">联系方式 :</label>
			<div>test</div>
		</div>
		<div class="item">
			<label for="">邮箱地址 :</label>
			<div>test</div>
		</div>
	</div>
	<div class="items">
		<div class="item">
			<label for="">创建人 :</label>
			<div>test</div>
		</div>
		<div class="item">
			<label for="">备注 :</label>
			<div>test</div>
		</div>
	</div>
</div>