<style>
	.detailsSet table {
		border-collapse: collapse;
	}
	
	.detailsSet table tr {
		text-align: center;
	}
	
	.detailsSet table tr td {
		padding: 5px;
	}
	
	.share .viewC_con {
		height: 400px !important;
		overflow: auto !important;
		width: 100%;
		box-sizing: border-box;
		padding: 10px 0px;
		clear: both;
		transition: all 0.3s ease 0s;
	}
	
	.share .recording {
		position: absolute;
		top: 28%;
		display: inline-block;
		padding: 6px 12px;
		background-color: rgb(255, 127, 91);
		color: rgb(255, 255, 255);
		width: auto;
		font-size: 13px;
		margin-right: 8px;
		border-radius: 2px;
		vertical-align: top;
		cursor: pointer;
		user-select: none;
		margin-top: 7px;
	}
	/*模态框*/
	
	.share .modal {
		display: none;
		/* 默认隐藏 */
		position: fixed;
		/* 根据浏览器定位 */
		z-index: 999;
		/* 放在顶部 */
		left: 0;
		top: 0;
		width: 100%;
		/* 全宽 */
		height: 100%;
		/* 全高 */
		overflow: auto;
		/* 允许滚动 */
		background-color: rgba(0, 0, 0, 0.4);
		/* 背景色 */
	}
	/*模态框内容*/
	
	.share .modal-content {
		border-radius: 5px;
		display: flex;
		/*采用flexbox布局*/
		flex-direction: column;
		/*垂直排列*/
		position: relative;
		background-color: #fefefe;
		margin: 7% auto;
		/*距顶部15% 水平居中*/
		padding: 20px;
		border: 1px solid #888;
		width: 768px;
		/*自定义动画，从模态框内容上到下出现*/
	}
	
	.share .modal-content_1 {
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		position: relative;
		background-color: #fefefe;
		margin: 0 auto;
		margin-top: 6%;
		margin-left: 16%;
		padding: 20px;
		border: 1px solid #888;
		width: 83%;
		margin-right: 1%;
	}
	
	@keyframes topDown {
		from {
			top: -300px;
			opacity: 0
		}
		to {
			top: 0;
			opacity: 1
		}
	}
	/*模态框头部*/
	
	.share .modal-header {
		display: flex;
		/*采用flexbox布局*/
		flex-direction: row;
		/*水平布局*/
		align-items: center;
		/*内容垂直居中*/
		justify-content: space-between;
	}
	/*关闭X 样式*/
	
	.share .close {
		color: #aaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}
	
	.share .close:hover {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}
	
	.share .content_box .title {
		display: inline-block;
	}
	
	.share .content_box .content {
		display: inline-block;
		vertical-align: top;
		width: 59%;
		min-height: 30px;
		padding-right: 50px;
		/*overflow: hidden;*/
	}
	
	.share .verify {
		position: relative;
		left: 86px;
		height: 28px;
		line-height: 24px;
		display: inline-block;
		padding: 0px 13px;
		border: 1px solid rgb(48, 137, 220);
		background-color: rgb(48, 137, 220);
		color: rgb(255, 255, 255);
		width: auto;
		font-size: 13px;
		border-radius: 2px;
		vertical-align: top;
		cursor: pointer;
		user-select: none;
		margin-top: 6px;
	}
	
	.share .content_box {
		width: 100%;
		margin-bottom: 10px;
	}
	
	.share .content_box .title {
		display: inline-block;
		vertical-align: top;
		width: 40%;
		height: 100%;
		text-align: right;
		padding-right: 20px;
		padding-left: 10px;
		font-size: 14px;
	}
	
	.share .content_box .content>input {
		width: 100%;
		height: 30px;
		border-bottom: 1px solid rgb(204, 204, 204);
		font-size: 14px;
		margin-top: 6px;
	}
	
	.share .content_box .content select {
		width: 80%;
		height: 30px;
		line-height: 30px;
		padding: 0px 10px;
		border: 1px solid rgb(222, 228, 241);
		background-color: rgb(244, 248, 250);
		color: rgb(117, 117, 117);
		font-size: 13px;
		border-radius: 3px;
		user-select: none;
		cursor: pointer;
		position: relative;
		box-shadow: none;
	}
	
	.share .content_box textarea {
		padding: 8px;
		font-size: 14px;
		color: rgb(117, 117, 117);
	}
	
	.share .model_title {
		cursor: move;
		height: 35px;
		width: 100%;
		font-size: 17px;
		border-bottom: 1px solid rgb(229, 229, 229);
		position: relative;
		line-height: 15px;
		text-align: center;
		color: rgb(51, 51, 51);
	}
	
	.share #myModal .modal-body {
		margin: 15px 0;
		overflow-y: auto;
	}
	
	.share .bottom {
		width: 100%;
		height: 38px;
		font-size: 18px;
		box-sizing: border-box;
		bottom: 0px;
		border-top: 1px solid rgb(229, 229, 229);
		left: 0%;
		line-height: 54px;
		text-align: center;
	}
	
	.share .bottom_btn {
		color: rgb(255, 255, 255);
		background-color: rgb(48, 137, 220);
		font-size: 13px;
		padding: 4px 14px;
		border-radius: 2px;
		margin-right: 15px;
		cursor: pointer;
	}
	
	.share .ly_tabTitle {
		height: 40px;
		background-color: rgb(255, 255, 255);
		border-bottom: none;
		box-shadow: rgb(204, 204, 204) 0px 0.5px 2px;
		position: relative;
		z-index: -1 !important;
		padding-left: 80px;
	}
	
	.share .excel_upload {
		height: 40px;
		line-height: 32px;
		font-size: 15px;
		display: block;
		width: 100%;
		text-align: left;
		margin-left: -4px;
	}
	
	.share .gain {
		position: absolute;
		top: 28%;
		margin-left: 100px;
		display: inline-block;
		padding: 6px 12px;
		background-color: rgb(255, 127, 91);
		color: rgb(255, 255, 255);
		width: auto;
		font-size: 13px;
		margin-right: 8px;
		border-radius: 2px;
		vertical-align: top;
		cursor: pointer;
		user-select: none;
		margin-top: 7px;
	}
	
	.remark {
		width: 80%;
		height: 100px;
	}
	
	.fileB {
		border: 1px solid #797979;
		padding: 5px 20px;
		font-size: 14px;
		border-radius: 5px;
		margin-right: 20px;
		display: inline-block;
	}
	
	.modal-body {
		padding-top: 10px;
	}
	
	.share .content_box .content .modal_redios_checkd {
		float: left;
		margin-right: 20px;
		font-size: 14px;
		line-height: 14px;
	}
	
	.share .content_box .content .modal_redios_checkd input {
		-webkit-appearance: radio;
		height: 14px;
		width: 14px;
		margin-right: 2px;
	}
	/*详情弹窗*/
	
	.model-input span {
		display: inline-block;
		flex: 1;
		height: 30px;
		line-height: 20px;
		margin: 5px 20px;
		border: 1px solid #ccc;
		padding: 3px 20px;
	}
	
	.model-cursor input {
		cursor: pointer;
	}
	
	.model-input span input {
		width: 100%;
		height: 100%;
		border: none;
	}
	
	.model-input span select {
		width: 100%;
		height: 100%;
		color: rgb(117, 117, 117);
		font-size: 13px;
		user-select: none;
		cursor: pointer;
		position: relative;
		border: none;
		outline: none;
		font-weight: 600;
		appearance: menulist;
		-moz-appearance: menulist;
		-webkit-appearance: menulist;
	}
	
	#dataCon .myModaldetails .modal-content {
		width: 1000px;
	}
	/*详情弹窗*/
	
	#dataCon .myModaldetails .modal-content {
		width: 1000px;
	}
	
	.myModaldetails .modal-body .detailsTab {
		overflow: hidden;
	}
	
	.myModaldetails .modal-body .detailsTab p {
		float: left;
		padding: 5px 10px;
		font-size: 14px;
		border: 1px solid #cccccc;
		margin: 5px 3px;
		cursor: pointer;
		font-size: 14px;
	}
	
	.myModaldetails .modal-body .detailsTab p:nth-child(1) {
		margin-left: 0;
	}
	
	.myModaldetails .detailsCard {
		width: 100%;
		display: flex;
	}
	
	.myModaldetails .detailsCard>div {
		flex: 1;
	}
	
	.myModaldetails .detailsCard>div ul {
		width: 100%;
	}
	
	.myModaldetails .detailsCard>div ul li {
		width: 100%;
		display: flex;
		border-top: 1px solid #000;
		border-left: 1px solid #000;
		border-right: 1px solid #000;
		height: 30px;
		line-height: 30px;
	}
	
	.myModaldetails .detailsCard>div ul li:last-child {
		border-bottom: 1px solid #000;
	}
	
	.myModaldetails .detailsCard>div ul li .cardTitle {
		flex: 1.5;
		text-align: center;
		border-right: 1px solid #000;
	}
	
	.myModaldetails .detailsCard>div ul li .cardlist {
		flex: 3;
		text-align: center;
	}
	
	.detailsCard_left {
		margin-right: 5px;
	}
	
	.detailsCard_right {
		margin-left: 5px;
	}
	
	.myModalsearch .model-input {
		display: flex;
	}
	
	.detailsTab .active {
		display: inline-block;
		padding: 6px 12px;
		background-color: rgb(30, 159, 255);
		color: rgb(255, 255, 255);
		width: auto;
		font-size: 13px;
		margin-right: 8px;
		border-radius: 2px;
		vertical-align: top;
		cursor: pointer;
		user-select: none;
		margin-top: 7px;
	}
	/*tap切换按钮*/
	
	.tap {
		width: 100%;
		overflow: hidden;
		padding: 5px 0;
	}
	
	.tap p {
		float: left;
		padding: 5px 20px;
		border: 1px solid #BCD0E0;
		border-radius: 3px;
		margin-left: 5px;
		cursor: pointer;
		font-size: 14px;
	}
	
	.tap p.active {
		background: #169BD5;
		color: #fff;
	}
	
	.alertSetting p {
		text-align: center;
		padding: 30px;
	}
	
	.alertSetting p input {
		border: 1px solid #ccc;
		padding: 2px;
		margin: 0 5px;
		width: 60px;
	}
</style>

<div class="sh_home share" id="shareList">
	<div class="tap">
		<p class="mobile">中国移动</p>
		<p class="unicom active">中国联通</p>
	</div>
	<!-- 订购套餐-->
	<div id="myModalxufei" class="modal">
		<div class="modal-content">
			<div class="modal-header">
				<div class="model_title">订购套餐</h2>
					<span id="xufeiClose" class="close">×</span>
				</div>
			</div>
			<div class="modal-body">
				<div class="content_box">
					<div class="title">共享池名称:</div>
					<div class="content" id="poolName">
						<div class="selectWrap" id="selectWrap" style="width:80%"></div>
					</div>
				</div>
				<div class="content_box">
					<div class="title">*套餐类型:</div>
					<div class="content modal_redios">
						<div class="modal_redios_checkd">
							<label>
								<input id="bagType" checked type="radio" value="1" name="bagType">主套餐
							</label>
						</div>
						<div class="modal_redios_checkd">
							<label>
								<input id="bagType" type="radio" value="2" name="bagType">扩容包
							</label>
						</div>
					</div>
				</div>
				<div class="content_box">
					<div class="title">*套餐名称:</div>
					<div class="content" id="packageName">
						<div class="selectWrap" id="selectWrap" style="width:80%"></div>
					</div>
				</div>
				<div class="content_box">
					<div class="title" style="opacity: 0;">*数量:</div>
					<div class="content">
						<span>每月流量：</span><span id="perLimit" style="color:red;">0.00</span>
						<span>订购数量：</span><span id="buyNum" style="color:red;">0.00</span>
					</div>
				</div>
				<div class="content_box">
					<div class="title">总金额:</div>
					<div class="content">
						<span id="price" style="color:red;">0.00</span>
					</div>
				</div>
				<div class="content_box">
					<div class="title">*生效方式:</div>
					<div class="content modal_redios">
						<div class="modal_redios_checkd">
							<label>
								<input checked="checked" id="effectType" type="radio" value="1" name="effectType">当月生效
							</label>
						</div>
						<div class="modal_redios_checkd">
							<label>
								<input id="effectType" type="radio" value="2" name="effectType">次月生效
							</label>
						</div>
					</div>
				</div>
				<div class="content_box">
					<div class="title">*续费方式:</div>
					<div class="content modal_redios">
						<div class="modal_redios_checkd">
							<label>
								<input checked="checked" id="renewType" type="radio" value="1" name="renewType">手动续费
							</label>
						</div>
						<div class="modal_redios_checkd">
							<label>
								<input id="renewType" type="radio" value="2" name="renewType">自动续费
							</label>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer bottom">
				<span class="bottom_btn" id="xufeiSave">确定</span>
				<span class="bottom_btn cancel" id="xufeiCancel">取消</span>
			</div>
		</div>

	</div>
	
	<!-- 修改套餐-->
	<div id="modifyBag" class="modal">
		<div class="modal-content">
			<div class="modal-header">
				<div class="model_title">修改套餐</h2>
					<span id="xufeiClose" class="close">×</span>
				</div>
			</div>
			<div class="modal-body">
				<div class="content_box">
					<div class="title">共享池名称:</div>
					<div class="content" id="poolName">
						<div class="selectWrap" id="selectWrap" style="width:80%"></div>
					</div>
				</div>
				<div class="content_box">
					<div class="title">当前套餐:</div>
					<div class="content">
						<span id="curBag"></span>
					</div>
				</div>
				<div class="content_box">
					<div class="title">*套餐名称:</div>
					<div class="content" id="packageName">
						<div class="selectWrap" id="selectWrap" style="width:80%"></div>
					</div>
				</div>
				<div class="content_box">
					<div class="title" style="opacity: 0;">*数量:</div>
					<div class="content">
						<span>每月流量：</span><span id="perLimit" style="color:red;">0.00</span>
						<span>订购数量：</span><span id="buyNum" style="color:red;">0.00</span>
					</div>
				</div>
				<div class="content_box">
					<div class="title">总金额:</div>
					<div class="content">
						<span id="price" style="color:red;">0.00</span>
					</div>
				</div>
				<div class="content_box">
					<div class="title">*续费方式:</div>
					<div class="content modal_redios">
						<div class="modal_redios_checkd">
							<label>
								<input id="renewType" type="radio" value="1" name="renewType">手动续费
							</label>
						</div>
						<div class="modal_redios_checkd">
							<label>
								<input id="renewType" type="radio" value="2" name="renewType">自动续费
							</label>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer bottom">
				<span class="bottom_btn" id="xufeiSave">确定</span>
				<span class="bottom_btn cancel" id="xufeiCancel">取消</span>
			</div>
		</div>

	</div>

	<!--预警设置-->
	<div id="alertSetting" class="modal self_modal">
		<div class="modal-content">
			<div class="modal-header">
				<div class="model_title">预警设置</h2>
					<span class="close">×</span>
				</div>
			</div>
			<div class="modal-body">
				<div class="alertSetting">
					<p>当前共享池已用流量达到可用流量<input type="text" id="warnPercent" />%时，发送预警短信至<input type="text" id="linkPhone" />。</p>
				</div>
			</div>
			<div class="modal-footer bottom">
				<span class="bottom_btn" id="save">确定</span>
				<span class="bottom_btn cancel">取消</span>
			</div>
		</div>
	</div>

</div>