<style>
	.summary {
		padding: 15px;
		width: 100%;
		height: 100%;
		background-color: #fff;
		overflow-y: auto;
		border-radius: 5px;
	}
	
	.summary>div>p {
		padding: 0 0 15px;
		font-weight: 900;
		font-size: 18px;
	}
	
	.summary .balance_box,
	.summary .detail_box {
		display: inline-block;
		width: 32%;
		margin-right: calc(2% - 4px);
		border: 1px solid #ccc;
		text-align: center;
		height: 180px;
		vertical-align: top;
		border-radius: 4px;
		position: relative;
	}
	
	.summary .wrap {
		position: absolute;
		width: calc(98% - 31px);
		top: 50%;
		transform: translate(0, -50%);
	}
	/*分润概括--开始*/
	
	.summary .balance_box button {
		background-color: #009900;
		color: white;
		font-weight: 900;
		font-size: 14px;
		margin-top: 15px;
		padding: 10px 40px;
		border-radius: 4px;
	}
	
	.summary .balance_box {
		padding: 25px;
	}
	
	.summary .balance_box p:not(:first-child) {
		margin-top: 15px;
	}
	
	.summary .balance_box .balance {
		color: #333333;
		font-weight: 900;
		font-size: 18px;
	}
	/*分润概括--结束*/
	
	.summary .detail_box {
		padding: 20px;
	}
	
	.summary .detail_box:last-child {
		margin-right: 0;
	}
	
	.summary .detail_box p:first-child {
		border-bottom: 1px solid #ccc;
		height: 30px;
		line-height: 30px;
	}
	
	.summary .detail_box p:not(:first-child) {
		margin-top: 15px;
		text-align: left;
		padding: 0 10px;
	}
	
	.summary .detail_box p:first-child span {
		float: left;
	}
	
	.summary .detail_box p:first-child a {
		float: right;
		color: #169BD8;
		cursor: pointer;
	}
	
	.summary .detail_box p:not(:first-child) span:first-child {
		font-weight: 900;
		font-size: 16px;
		color: #333333;
	}
	
	.echartsPic {
		width: 100%;
		height: 300px;
		margin-top: 20px;
	}
	/*表格样式*/
	
	.self_table_body .item,
	.self_table_header .item {
		width: 100%;
		border: 1px solid #ccc;
	}
	
	.self_table_body .item {
		border-top: none;
	}
	
	.self_table_header .cell,
	.self_table_body .cell {
		display: inline-block;
		padding: 10px 15px;
		text-align: center;
		border-right: 1px solid #ccc;
		width: calc(25% - 3px);
	}
	
	.self_table_header .cell:last-child,
	.self_table_body .cell:last-child {
		border-right: none;
	}
	
	.self_table_body .nodata {
		width: 100%;
		border: 1px solid #ccc;
		border-top: none;
		height: 40px;
		line-height: 40px;
		text-align: center;
	}
	
	.dateCol {
		height: 30px;
		line-height: 30px;
		margin-bottom: 10px;
	}
	
	.dateView {
		float: left;
	}
	
	.exportBtn {
		float: right;
		cursor: pointer;
		display: inline-block;
		padding: 0 12px;
		background-color: rgb(30, 159, 255);
		color: rgb(255, 255, 255);
		width: auto;
		font-size: 13px;
		border-radius: 4px;
	}
	.checkView {
		cursor: pointer;
	}
</style>
<div class="summary">
	<!--分润概括-->
	<div>
		<p>分润概括</p>
		<div class="balance_box">
			<div class="wrap">
				<p>分润账户余额</p>
				<p class="balance"></p>
			</div>
		</div>
		<div class="detail_box">
			<div class="wrap weekData">
				<p><span>本周</span>
					<a class="checkView week">查看明细</a>
				</p>
				<p><span>交易单数：</span><span class="tradeNum"></span></p>
				<p><span>交易金额：</span><span class="amount"></span></p>
				<p><span>分润金额：</span><span class="profit"></span></p>
			</div>
		</div>
		<div class="detail_box">
			<div class="wrap monthData">
				<p><span>本月</span>
					<a class="checkView month">查看明细</a>
				</p>
				<p><span>交易单数：</span><span class="tradeNum"></span></p>
				<p><span>交易金额：</span><span class="amount"></span></p>
				<p><span>分润金额：</span><span class="profit"></span></p>
			</div>
		</div>
	</div>
	<!--列表数据-->
	<div id="summaryData" style="margin-top: 15px;"></div>
</div>
<!--查看明细-->
<div id="myModal_check" class="modal myModel">
	<div class="modal-content">
		<div class="modal-header">
			<div class="model_title">查看明细</h2>
				<span class="close">×</span>
			</div>
		</div>
		<div class="modal-body" style="max-height:400px">
			<p class="dateCol"><span class="dateView"></span><span class="exportBtn">导出</span>
				<div style="clear: both;"></div>
			</p>
			<div class="self_table">
				<!--表头-->
				<div class="self_table_header">
					<div class="item">
						<div class="cell">客户名称</div>
						<div class="cell">交易单数</div>
						<div class="cell">交易金额</div>
						<div class="cell">分润金额</div>
					</div>
				</div>
				<!--body-->
				<div class="self_table_body"></div>
			</div>
		</div>
		<div class="modal-footer bottom" style="display: none;">
			<span class="bottom_btn" id="remarkSave">确定</span>
			<span class="bottom_btn cancel">取消</span>
		</div>
	</div>
</div>